@import "~bootstrap/scss/bootstrap";

body {
  // color: #125d98;
  color: black;
}

.article-card {
  cursor: pointer;
  width: 12rem;
}

.article-card:hover {
  border: 1.52px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  transform: translate(0, -5px);
}


.fade {
  background-color: rgba(0, 0, 0, 0.4);
}